.hero {
    display: flex;
    margin-top: 5rem;
    padding: 20px;
    margin-bottom: 4rem;
    border-bottom: 1px solid var(--borderColor);
}

.hero .article {
    flex-grow: 1;

}

.hero .article .image img {
    width: 25%;
    border: 1px solid var(--photoBorder);
    border-radius: 50%;
    padding: 1px;
    box-shadow: 1px 1px 5px var(--shadow) inset;
}

@media (max-width:767px) {
    .hero .article .image img {
        width: 50%;
        border: 0.5px solid var(--photoBorder);
        border-radius: 50%;
        padding: 0.5px;
        box-shadow: 2px 2px 30px var(--shadow) inset;
    }
}

.hero .name {
    color: var(--name);
    font-size: 2rem;
    word-spacing: -5px;
}

@media (max-width:767px) {
    .hero .name {
        font-size: 0.7rem;
    }
}

.hero .name .icon-verified {
    color: #0866ff;
    font-size: 1.5rem;
}

@media (max-width:767px) {
    .hero .article .icon-verified {
        color: #0866ff;
        font-size: 1rem;
    }
}

.hero .title {
    color: var(--workTitle);
    margin-top: 0.7rem;
    text-transform: uppercase;
}

@media (max-width:767px) {
    .hero .title {
        font-size: 0.6rem;
        font-weight: 900;
    }
}


.hero .hint {
    color: var(--subTitle);
    letter-spacing: 0;
    font-size: 18px;
    opacity: 0.5;
    line-height: 1.3;
    margin-top: 0.5rem;
}

@media (max-width:767px) {
    .hero .hint {
        font-size: 0.5rem;
    }
}

.hero .links {
    margin-top: 1rem;
}

.hero .links a {
    padding: 0.4rem;
    font-size: 1.5rem;
    opacity: 0.7;
    transition: var(--duration);
}

@media (max-width:767px) {
    .hero .links a {
        font-size: 1rem;
    }
}


.hero .links a:first-child {
    color: #eee;
    opacity: 0.7;
}

.hero .links a:hover {
    opacity: 1;
}

.hero .animation {
    width: 500px;
    height: 500px;
}

@media (max-width:767px) {
    .hero .animation {
        height: fit-content;
    }
}