.skills {
    border-bottom: 1px solid var(--borderColor);
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    padding: 1rem;
    margin-right: 0.6rem;
    margin-left: 0.6rem;

}

.skills .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-name {
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--subTitle);
    font-size: 2rem;
    letter-spacing: 5px;
    font-family: initial;
    padding: 0.6rem;
}

.skill-bar {
    width: 50%;
    background-color: #ddd;
    border-radius: 80px;
    overflow: hidden;
    letter-spacing: 0px;
    display: flex;
}

@keyframes skill {
    0% {
        width: 0%
    }
}

.skill-progress {
    height: 20px;
    width: 0;
    background-color: var(--name);
    text-align: center;
    color: var(--bgContainer);
    font-size: 16px;
    border-radius: 8px;
    font-weight: 100;
    border: none;
    outline: none;
}

.animi {

    animation: skill 1 2s ease-in-out;
}

@media (max-width:630px) {
    .skill-name {
        font-weight: 300;
        margin-bottom: 3px;
        color: var(--subTitle);
        font-size: 1rem;
        letter-spacing: 0px;
        padding: 0.3rem;
    }
}